
  body {
      height: 100%;
      background: #ecf0f1;
  }

  .container {
    position: absolute;
  }

  .outer-animation {
    display: table;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    background: #c7ecee;
    transition: opacity 2s linear;
  }
  
  .middle-animation {
    display: table-cell;
    vertical-align: middle;
    height:100%;
  }

  .animation-container {
    width: auto;
    height: 200px;
    overflow: hidden;
  }

  .overlay {
    width:100%;
    height:320px;
    z-index: 2;
    position: fixed;
    background: #c7ecee;
    transition: height 3s linear;
  }

  .overlay:nth-child(1) {
    top: 0;
  }

  .overlay:nth-child(2) {
    bottom: 0;
  }
  
  .animated-block {
      width: 100%;
      height: 370px;
      position: relative; 
      overflow: hidden;
      transition: height 6s linear;
  }
  
  .inner-animation {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 100%;
    background: transparent;
    padding-left: 225px;
  }

  .line {
      width: 100%;
      height: 12px;
  }

  .bar {
    height: 6px;
    width: 0px;
    margin-left: 3px; 
    display: inline-block;
    transition: all .2s linear; 
    background-color: #1abc9c;   
  }

  .margin-small {
    margin-left: 12px;
  }

  .margin-medium {
    margin-left: 22px;
  }

  .margin-large {
    margin-left: 32px;
  }
